services:
  nextjs:
    container_name: nextjs
    build:
      context: .
      dockerfile: Dockerfile

    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.nextjs.rule=Host(`justus-braun.net`) || Host(`www.justus-braun.net`)"
      - "traefik.http.routers.nextjs.entrypoints=websecure"
      - "traefik.http.routers.nextjs.tls=true"

      - "traefik.http.routers.nextjs.service=nextjs"
      - "traefik.http.services.nextjs.loadbalancer.server.port=3000"

    networks:
      - proxy
